{% extends "base.html" %}

{% block title %} 
Home Page
{% endblock title %}



{% block content %} 
    <h1 class="text-center py-2 text-decoration-underline">This is Home Page</h1>

    {% comment %} {% if messages %}
    {% for message in messages %}
    <h3 class="text-danger text-center">{{ message }}</h3>
    {% endfor %}
    {% endif %} {% endcomment %}
    
    <h3 class='text-center'>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
        {{message}}
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
        {{message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        </h3>
  



<div class="container text-center">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lor</p>
    

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lor</p>
    
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lor</p>
</div>


{% endblock content %}
